article p {
    background: blue;
    color: white;
    padding: 20px;
}

article > p {
    background-color: red;
    padding: 20px;
}

article + p {
    background-color: orange;
    padding: 20px;
}

article ~ p {
    background-color: aquamarine;
    padding: 20px;
}

h3:first-of-type {
    color: aqua;
}

input:in-range {
    border: 3px solid green;
}

input:out-of-range {
    border: 3px solid red;
}

input:required {
    background-color: aqua;
}

input:focus {
    background-color: yellow;
}

.p1::first-line {
    color: blue;
}

.p1::first-letter {
    color: darkcyan;
    font-size: 30px;
}